*{
    box-sizing: border-box;
    font-family:'MuliRegular';
}

body{
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 82%, rgba(122,10,14,1) 100%);
    padding: 0;
    margin: 0; 
}

header{
    margin: 0 auto;
    text-align: center;
    background: transparent; 
}

footer{
    text-align: center;
    background: transparent;
    color: #e8bd19;
    height: 12px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .5rem;
}

h1{
    font-family: 'SansitaRegular';
    font-weight: bold;
    font-style: italic;
    color: #e8bd19;
    font-size: 40px;
}

h2{
    font-family: 'AsapRegular';
    font-weight: medium;
    font-style: medium;
    color: #e8ddc6;
}

h3{
    font-family: 'AsapRegular';
    font-weight: bold;
    font-style: bold;
    text-decoration: underline;
}

h4{
    font-family: 'AsapRegular';
    font-size: 18px;
}

main{
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

section{
    padding-bottom: 2.5rem;
}

.start-button{
    background: rgb(122,10,14);
    background: linear-gradient(90deg, rgba(122,10,14,1) 0%, rgba(232,189,25,0.2533783783783784) 100%);
    color: #e8ddc6;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    border-radius: 30px;
}

.start-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
  
.start-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.start-button:hover span{
    padding-right: 25px;
}

.start-button:hover span:after{
    opacity: 1;
    right: 0;
}

.intro{
    border-top: solid 2px #7a0a0e;
    border-bottom: solid 2px #7a0a0e;
    padding: 100px 50px 100px 50px;
    margin: auto;
    color: #e8ddc6;
    background-position: bottom right !important;
    background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('images/ericprydz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-info{
    display: block;
    width:50%;
    text-align: center;
    margin: auto;
}

#form-container{
    border-top: solid 5px #7a0a0e;
    border-bottom: solid 5px #7a0a0e;
    padding: 30px 20px 50px 20px;
    margin: auto;
    color: #e8ddc6;
    text-align: center;
    background-position: bottom right !important;
    background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('images/records.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

input{
    border-top: solid 1px #7a0a0e;
    border-left: solid 1px #7a0a0e;
    border-bottom: solid 1px #e8bd19;
    border-right: solid 1px #e8bd19;
    background: #1c1c1c;
    color: #e8ddc6;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#search-artist{
    display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.container-hidden{
    display: none;
}

#results-list{
    background: #e8ddc6;
    padding: 30px 20px 50px 20px;
    margin: auto;
    color: #1c1c1c;
}

#results-list h2{
    color: #1c1c1c;

}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.open-form{
    margin:0 auto;
    text-align: auto;
    padding:10px;
}

#results-list a{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #7a0a0e;
}

#results-list a:visited{
    text-decoration: none;
    color: #77746d;
}

#results-list a:focus{
    text-decoration: underline;
    color: #93b7be;
}

#results-list a:hover{
    text-decoration: none;
    color: #93b7be;
    transition: all .3s ease 0s;
}

#results-list p{
    line-height: 25px;
}

#results-list ul{
    list-style-type: none;
    padding:0;
}

#submit-button{
    border: none;
    background: #7a0a0e;
    color: #e8ddc6 !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: "MuliRegular";
}

#submit-button:hover{
    color: #e8bd19 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.load-tracks-button{
    color: #7a0a0e !important;
    text-transform: uppercase;
    background: transparent;
    padding: 15px;
    border: 4px solid #7a0a0e !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 15px 0px;
}

.load-tracks-button:hover{
    color: #93b7be !important;
    border-radius: 50px;
    border-color: #93b7be !important;
    transition: all 0.3s ease 0s;
}

.load-tracks-button:active{
	position:relative;
    top:1px;
    background: #93b7be;
}


@media screen and (min-width: 320px){
    body {
        margin: 0;
        padding: 0;

    }

    h1 {
        font-size: 40px;
        padding:0;
        margin:0;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    header {
        padding: 15px;
    }

    .intro{
        padding: 25px 25px 75px 25px;
    }

    .intro-info{
        width: 80%;
        text-align: left;
    }

    #results-list{
        padding: 20px;
    }

    #results-list p{
        line-height: 22px;
    }
    


}
@media screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;

    }

    h1 {
        font-size: 40px;
        padding:15px;
        margin:15px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 22px;
    }

    header {
        padding: 15px;
    }

    .intro{
        padding: 25px 25px 75px 25px;
    }

    .intro-info{
        width: 80%;
        text-align: center;
    }

    #results-list{
        padding: 20px;
    }

    #results-list p{
        line-height: 22px;
    }

    #form-container{
        padding:50px 20px;

    }

    #results-list{
        padding: 30px 50px 50px 50px;
    }

    #results-list p{
        line-height: 25px;
    }
}