* {
    box-sizing: border-box;
    font-family:'MuliRegular';
    background:#27201A;
    color: #FD9000;
}

header{
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

h1{
    font-family: 'SansitaRegular';
    font-weight: bold;
    font-style: italic;
}

h2{
    font-family: 'AsapRegular';
    font-weight: medium;
    font-style: medium;
}

h3{
    font-family: 'AsapRegular';
    font-weight: normal;
    font-style: normal;
}


main{
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.container-hidden{
    display: none;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.open-form{
    margin: auto;
    text-align: auto;
    padding:10px;
}

a{
    margin-top: 5px;
    margin-bottom: 5px;
}

#results-list p{
    line-height: 25px;
}